<%- include ('../partials/header')%>
<%- include('../partials/navbar')%>
<body>
        <div class="container">
            <hr>
            <h2>Colaboradores</h2>
            <hr>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Sobre Nome</th>
                        <th>Email</th>
                        <th>Empresa</th>
                        <th>Função</th>
                        <th>Notebook</th>
                    </tr>
                </thead>
          
</body>
<%- include ('../partials/footer')%>