<%- include ('../partials/header')%>
<%- include('../partials/navbar')%>
<body>
        <div class="container">
            <hr>
            <h2>Hardware</h2>
            <hr>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Fabricante</th>
                        <th>Configuração</th>
                        <th>Data de Compra</th>
                        <th>Garantia</th>
                        <th>Status</th>
                        <th>Teste</th>
                    </tr>
                </thead>
          
</body>
<%- include ('../partials/footer')%>