<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">
        Suport Manager
    </a>
    <ul class="navbar-nav me-auto" >
        <li class="nav-item">
            <a class="nav-link" href="/employees">Colaboradores</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/hardware">Hardware</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/company">Empresa</a>
        </li>
    </ul>
</nav>