<%- include ('../partials/header')%>
<%- include('../partials/navbar')%>
<body>
        <div class="container">
            <hr>
            <h2>Empresas</h2>
            <hr>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Equipamentos Cedidos</th>
                    </tr>
                </thead>
          
</body>
<%- include ('../partials/footer')%>